html {
    height: 100%;
}

body {
    font-family: 'Dosis', sans-serif;
    height: 100%;
    background-color: black;
    color: #FDFDFD;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/********************
NAVIGATION BAR 
********************/

.navbar-default {
    color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    
    
}

.logo {
    border-radius: 1000px;
    border: 5px solid #C6A35D;
    width:150px;
    height:150px;
}

.navbar-default {
    background-color: black;
    border-color: black;

}

.navbar-default .navbar-nav {
    margin-top: 50px;
    float: right;
    font-family: 'Dosis', sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 22px;
    font-family: 'Dosis', sans-serif;
    margin-left: 25px;
    padding: none;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #C6A35D;
}

i:hover {
    color: #C6A35D;
}

i {
    color: black;
}


/********************
BIG LANDING PAGE
********************/


.hero {
    background-image: url(../img/placeholder.jpg);
    background-repeat:no-repeat;
    background-position: center; 
    background-size: contain;
    margin-top: 200px;
    height:400px;
    margin-bottom: 40px;
    font-size: 20px;
    text-align:center;
    
}

.bulb {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
}

.aboutmepar{
    font-size: 50px; 
}

.allhr {
    height: 30px;
    border-style: solid;
    border-color: #C6A35D;
    border-width: 1px 0 0 ;
    border-radius: 20px;
    
}
hr.allhr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #C6A35D;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    
}

/********************
One Liner with Button
********************/
.oneliner {
    text-align:center;
}



.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .dropdown-menu {
    color: white;
    background-color: black;
    border-color: #ccc;
    width:200px;
    font-weight:bold;
    margin-top:30px;
    margin-bottom:30px;
    font-size:24px;
    border: 3px solid #C6A35D;
    
}


.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: black;
    background-color: white;
    border-color: #C6A35D;
}
.dropdown-menu>li>a:hover {
    color: black;
    text-decoration: none;
    background-color: white;
}

.dropdown-menu {
    color:white;
    margin-top:-20px;
}
.dropdown-menu>li>a {
    color:white;
}

/********************
1st2column
********************/
.allhr {
    color:white;
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 ;
    border-radius: 20px;
}
hr.allhr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.firsttwocolumn {
    margin-top:75px;
    text-align:center;
    height: 500px;
}

.uglymug {
    height:250px;
    width:250px;
    border-radius: 125px;
    margin:auto;
    margin-top:75px;
    border: 5px solid #C6A35D;
}

p{
    margin:auto auto;
    width:90%;
    margin-top:75px;
    font-size: 18px;
    
}

.footer-distributed {
    background-color:black;
    margin-top:-40px;
}






/********************
MEDIA QUERIES
********************/

@media screen and (max-width: 991px) {
    .merch {
        height: 600px;
    }
}

@media screen and (max-width: 767px) {
    .merch {
        height: 800px;
    }
}

@media screen and (max-width: 500px) {
    .merch {
        height: 500px;
    }
}

@media screen and (max-width: 500px) {
    .merch {
        height: 500px;
    }
}

@media screen and (max-width: 300px) {
    .map {
        width: 300px;
    }
}

@media screen and (max-width: 760px) {
    .logo {
        width: 200px;
        height: 200px;
    }

    .hero {
        margin-top:225px
    }
    .navbar-default {
    color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    width:100%;
    
}

.logo {
    border-radius: 1000px;
    border: 5px solid #C6A35D;
    width:200px;
    height:200px;
}

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-nav {
    float: right;
    font-family: 'Dosis', sans-serif;
    margin-top:0px;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    padding: none;
    margin-top:10px;
    
}

.navbar-default .navbar-nav>li>a:hover {
    color: #C6A35D;
}

i:hover {
    color: #C6A35D;
}

i {
    color: black;
}

}