html {
    height:100%;
}



body {
    font-family: 'Dosis', sans-serif;
    height:100%;
    background-color:black;
    color: #FDFDFD;
}


/**********
NAVIGATION BAR 
**********/
.navbar-default {
    
    color:#000000;
     background-repeat: no-repeat;
    background-position: center;       
    background-size:cover;
    height:150;
    font-family: 'Dosis', sans-serif;
    
}



.logo {
        border-radius:100px;
    
    
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}


.navbar-default .navbar-nav{
    margin-top:50px;
    float:right;
    font-family: 'Dosis', sans-serif;
   
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size:20px;
    font-family: 'Dosis', sans-serif;
    margin-left:10px;
    padding:none;
}
.navbar-default .navbar-nav>li>a:hover {
    color:#C6A35D;
    
}


i:hover {
    color:#C6A35D;
}

i {
    color:black;
    
}

/**********
BIG LANDING PAGE
**********/



.landingdiv {
    margin-top:50px;
    width:33%;
    
}

#hero {
    background-image:url(../IMG/landing.jpg);
    background-repeat: no-repeat;
    background-position: center;       
    background-size:cover;
    margin-top: 130px;   
    min-height:100%;
}

#leftheader {
    color:white;
    margin-top:150px;

}

#leftheader{
    color:white;
    text-align:center;
}

#rightheader {
    color:white;
    margin-top:150px;
    text-align:center;
    
}

#bottomheader {
    color:white;
    margin-top:700px;
    text-align:center;
    color:#FDFDFD;
    
}

.xshours {
    font-size: 20px;
    color:#FDFDFD
}
    


.hours {
    color:white;
    text-align:center;
    
}

.landingpar {
    text-align:center;
    color:white;
    font-size: 1.5em;
}

/**********
TWO COLUMN SECTION 1
**********/

hr {
    padding: 0;
    border: none;
    border-top: medium double #C6A35D;
    color: #C6A35D;
    text-align: center;
}




.left {
    height: 400px;
    background-color:black;
    
}

.et {
    margin-top:50px;
    border-radius:5px;
    
    
}

.right {
    height:400px;
    background-color:black;
    
}

.sectiontwo h1 {
    color:#FDFDFD;  
    text-align:center;
    margin-top:100px;
}

.sectiontwo p {
    text-align:center; 
    font-size: 1.3em;
    margin-top: 25px;
    
}


/**********
FOUR COLUMN SECTION
**********/

.merchandise h1 {
    text-align:center;
    margin-bottom:100px;
    
}

.merch {
    
    height: 400px;
    text-align:center;
    font-size: 1em;
}

.merch > a{
    
    color:#C6A35D;
    
}
    


@media screen and (max-width: 991px) {
    .merch {
        height:600px;
    }
}

@media screen and (max-width: 767px) {
    .merch {
        height:800px;
    }
}

@media screen and (max-width: 500px) {
    .merch {
        height:500px;
    }
}

